$btn-color1: #FF3366;
$font-color: #000743;
$secondary-font-color: #fff;
$color-purle:#6B1065;
$color-blue:#000743;
$color-primary-blue: #007AFF;
$color-light-blue:#39CCCC;
$text-gradient2:#A86DB7;
$tablet-border:#D9D9D9;
$color-white:#fff;

$font-family: 'DM Sans';