@import './resets';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css');

@mixin flex-center($direnction){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: $direnction;
}

body {
    font-family: 'DM Sans';
}

.icon-images {
    width: 50px;
}

.hidden {
    visibility: hidden;
}

.section-one {
    @include flex-center(row);
    color: $font-color;
    width: 100vw;
    height: 100vh;
    font-size: 25px;

    .box {
        @include flex-center(column);
        flex: 1;
        
        .text-heading {
            line-height: 1;
            margin-bottom: 20px;
        }

        .text-subheading {
            font-weight: 100;
            margin: auto 15px ;
        }

        .btn {
            @include flex-center(row);
            background-color: $btn-color1;
            border: 0;
            font-weight: 600;
            color: $secondary-font-color;
            margin-top: 40px;
            font-family: 'DM Sans';
            padding: 10px 15px;
            border-radius: 5px;

            .icon {
                font-size: 15px;
                margin-left: 10px;
            }
        }
    }

    .box1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: auto 30px;

        .icons {
            @include flex-center(row);
            width: 125px;
            height: 125px;
            margin: 2px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
            }
        }
    }
}